---
import Hideable from "../Hideable.svelte";
import type { ResumeStrings } from "../resume-strings.interface";
import type { ResumeData, SafeLanguage } from "../resume.interface";
import SectionTitle from "../shared/SectionTitle.astro";

interface Props {
  str: ResumeStrings;
  projects: ResumeData["projects"];
  safeLanguage: SafeLanguage;
}

const { str, projects, safeLanguage } = Astro.props;
---

<section>
  <Hideable client:load>
    <SectionTitle title={str.projects} />
    <ul class="mb-2 list-disc ml-8">
      {
        projects.map((proj) => (
          <Hideable client:load hide={proj.hidden}>
            <li class="mb-2">
              {() => {
                if (typeof proj.title === "string") {
                  return <span class="print:text-sm font-semibold">{proj.title} </span>;
                } else if (typeof proj.title === "object") {
                  return <span class="print:text-sm font-semibold">{proj.title[safeLanguage]} </span>;
                } else {
                  return null;
                }
              }}

              <span class="mr-2 print:text-xs">- {proj.description[safeLanguage]}</span>
              <span class="font-bold print:text-xs">
                {proj.url.replace(/^(https?:\/\/)?(www\.)?/, "").replace(/\/$/, "")}
              </span>
            </li>
          </Hideable>
        ))
      }
    </ul>
  </Hideable>
</section>
